	
body {
	   background-repeat:no-repeat;
	   margin:0;
	   padding:0;
	   height:auto;
	   width:100%
	
     } 
html {
	   background-repeat:no-repeat;
       margin:0;
	   padding:0;
	
     }

html, body, input, select, textarea, button { font-family: segoe UI,Verdana, Arial, Helvetica, sans-serif; }  
.entete {
		   max-width:1024px;
		   min-width:300px;
		   height:106px;
		   margin:auto;
	       margin-top:-2px;
		   background-color:white;
        } 
/*! Bloc contenant le logo de Palma Okapi*/		

.ban {
		   max-width:100%;
		   text-align:center;
		   min-width:300px;
		   margin-top:65px;
		   height:400px;
		   position:relative;
		   border:none;
          }
		    

.corp {
		   max-width:1024px;
		   min-width:300px;
		   padding-top:8px;
		   
		   height:auto;
		   margin:auto;
		   margin-top:1px;
		   
		   z-index:10000;
		   
          } 
.all{
		   max-width:1024px;
		   min-width:350px;
		   height:auto;
		   margin:auto;		   
          }
.contenu {
		   max-width:1024px;
		   min-width:300px;
		   height:auto;
		   margin:auto;		   
          }

.titre h1{
		   margin:0px;
		   padding:0px;
		   margin-bottom:2px;
		   margin-left:30px;
		   font-size:16px;
		   Padding:4px;
		   font-style:normal;
		   padding-left:15px;
		   color:white;
		   width:140px;
		   font-family:helvetica;
		   background-color:#462c13;
		   text-shadow: 0px 0.5px 0 rgba(0,0,0,.3);	
          } 	  
.corp p{
		   margin-left:40px;
		   text-align:justify;
		   margin-right:40px; 
          } 

.corp .contenu p.contacter{
		   margin-left:40px;
		   text-align:justify;
		   letter-spacing:1px;
		   margin-right:40px;
		   color:gray;
		   font-size:16px;
		   
          } 
		  
.corp .contenu h1{
		   margin-left:40px;
		   font-family:helvetica;
		   font-size:28px;
		   color:#042d4a;
		   margin-top:0px;
		   margin-bottom:0px;
          } 
		  
		  
.copyright {
		   max-width:1024px;
		   min-width:300px;
		   background-color:#fafafa;
		   height:90px;
		   margin:auto;
		   border-top:solid #cccdce 1px;
		   text-align:center;
          } 
		  
.copyright p {
		   font-family:arial;
		   font-size:12px;
		   color:#7a7c7d;
          } 

.intro1 p {
		   width:295px;
		   height:auto;
		   margin:auto;
		   margin-right:16px;
		   text-align:left;
		   font-size:13px;
          }
/*fin destination*/
		  
/*Code de la baniere des sous pages de destination*/		  
.destban	{
		   width:1024px;
		   height:300px;
		   background-color:gray;
		   margin:auto;
		   margin-top:12px;
		   background-image:url(kundelungu.jpg);
          }
		  
.destban3	{
		   width:1024px;
		   height:300px;
		   background-color:gray;
		   margin:auto;
		   margin-top:12px;
		   background-image:url(upemba.jpg);
          }	
.makwacha	{
		   width:1024px;
		   box-shadow:0 3px 3px rgba(0,0,0,.3);
		   height:300px;
		   background-color:gray;
		   margin:auto;
		   margin-top:12px;
		   background-image:url(makwacha.jpg);
          }
		  
.velosafari	{
		   width:1024px;
		   box-shadow:0 3px 3px rgba(0,0,0,.3);
		   height:300px;
		   background-color:gray;
		   margin:auto;
		   margin-top:12px;
		   background-image:url(velosafari.jpg);
          }
.tourkatanga{
		   width:1024px;
		   box-shadow:0 3px 3px rgba(0,0,0,.3);
		   height:300px;
		   background-color:gray;
		   margin:auto;
		   margin-top:12px;
		   background-image:url(katangatour.jpg);
          }
/*Code du menu contextuel des sous page de la page destination*/		  
.contextemenu	{
		   width:984px;
		   height:28px;
		   background-color:rgb(247, 247, 247);
		   margin:auto;
		   border:solid #cccdce 1px 0px 1px ;
		   border-top:solid #cccdce 1px;
		   padding-left:40px;
		   padding-top:8px;
          }
		  
.contextemenu	a{
		   text-decoration:none;
		   border-right:solid #cccdce 1px;
		   padding:4px;
		   padding-right:8px;
		   color:gray;
          }
		  
.contextemenu a{
		   text-decoration:none;
		   border-right:solid #cccdce 1px;
		   padding:8px;
		   margin-left:0px;
		   padding-right:8px;
		   margin-left:-4px;
          }
		  
.contextemenu a:visited{
		   color:gray;
          }
/*fin du menu contextuel*/

/*contenaire d*/		  
.destcontenu {
		   width:1024px;
		   height:auto;
		   padding-bottom:40px;
		   margin:auto;
           border-top:solid #cccdce 1px;
          }
.destcontenu h1 {
		   margin-left:40px;
          }
.destcontenu a {
		  color:gray;
          }
		  
.contenairedest 	{
		   width:1024px;
		   height:auto;
		   margin:auto;
           border-top:solid #cccdce 1px;
          }  
		  
.culture {
		   width:1024px;
		   height:600px;
		   margin:auto;
           border-top:solid #cccdce 1px;
		   background-color:#ffffff;
          }

/*! code de la zone de navigation secondaire à gauche de la page animaux*/			  
.nav-gauche {
			width:270px;
			height:180px;
			background-color: rgba(151,209,11,.5);
			box-shadow:0 3px 3px rgba(0,0,0,.3);
			text-shadow: 0px 0.5px 0 rgba(0,0,0,.3);
			font-family:segoe Ui light;
			float:left;
			list-style:none;
			z-index:1000;
			padding-top:8px;
			text-align:left;
			}
			
.nav-gauche ul li a {
					 color:#ffffff;
					 text-decoration:none;
					 list-style:none;
					 margin-top:0px;
					 padding-top:1px;
					 padding-bottom:4px;
					 padding-left:30px;
					 padding-right:85px;
					 margin-top:5px;
			}
			
.nav-gauche ul li  { width:270px;
                  text-decoration:none;
                  height:30px;
				  box-shadow:0 1px 2px rgba(0,0,0,.2);
				  margin-right:0px;
				  float:left;
				  background-color:rgba(151,209,11,.5);
                  margin-top:1px;				  
			}
			
			
.nav-gauche ul li:hover {
         
			background-color:rgba(151,209,11,.2);
			color:#ffffff;
			text-decoration:none;
			list-style:none;
			}
 .nav-gauche ul li.act{ background-color:#916b06;
                      text-decoration:none;
					  
                  }
				  
 .nav-gauche ul li.act:hover { background-color:#916b06;
                            list-style:none;
							text-decoration:none;
                  }
			
.nav-gauche ul  {
         
			margin-left:0px;
			text-decoration:none;
			list-style:none;
			}
			
.partenaires{
		   width:1024px;
		   height:600px;
		   background-color:#ffffff;
		   border-top:solid #cccdce 1px;
          } 
		  
.partenaires img{
		   border:none;
          } 

		  
.logopart {
		   width:962px;
		   height:600px;
		   margin:auto;
		   box-shadow: 0px 1.75px 1.75px 0px #d5d6d7;
		   background-color:#ffffff;
          } 

/*! corps de la page contacts*/
.truc	{
		   width:1024px;
		   height:600px;
		   background-color:#ffffff;
          } 
		  
#localisation	{
		   width:1075px;
		   height:700px;
		   background-color:#cdcdcd;
		   text-align:center;
		   margin:auto;
		   margin-top:45px;
          }

	

